html 
    head 
        title Edición de paciente
    body 
        include ./utilitario/barraDeNav.pug

        h1 Edición de datos del paciente

        form(action=`/pacientes/edicion/${elPaciente.ID_paciente}` method="POST")
            label(for="Nombre") Nombre:
            input(type="text" name="Nombre" id="Nombre" value=elPaciente.Nombre)
            br

            label(for="Apellido") Apellido:
            input(type="text" name="Apellido" id="Apellido" value=elPaciente.Apellido)
            br

            label(for="DNI") DNI:
            input(type="number" name="DNI" id="DNI" value=elPaciente.DNI)
            br

            label Sexo:
            br
            input(type="radio" name="Sexo" value="masculino" id="sexoM" checked=elPaciente.Sexo==='masculino')
            label(for="sexoM") Masculino
            input(type="radio" name="Sexo" value="femenino" id="sexoF" checked=elPaciente.Sexo==='femenino')
            label(for="sexoF") Femenino
            br

            label(for="Domicilio") Domicilio:
            input(type="text" name="Domicilio" id="Domicilio" value=elPaciente.Domicilio)
            br

            label(for="Seguro") Seguro:
            input(type="text" name="Seguro" id="Seguro" value=elPaciente.Seguro)
            br

            label(for="Telefono") Teléfono:
            input(type="number" name="Telefono" id="Telefono" value=elPaciente.Telefono)
            br

            button(type="submit") Guardar Cambios
