html 
  head 
    title Listado de pacientes 
  body 
    include ./utilitario/barraDeNav.pug
    
    h1 Lista de pacientes

    table(border="1")
      thead 
        tr 
          th ID 
          th Nombre 
          th DNI  
          th Sexo 
          th acciones
      tbody 
        each patient in pacientes
          tr 
            td= patient.ID_paciente
            td= patient.Nombre
            td= patient.Apellido 
            td= patient.DNI
            td= patient.Sexo
            td 
              a(href=`/pacientes/edicion/${patient.ID_paciente}`) Editar 
