body
    
    include ./utilitario/barraDeNav.pug
    h1 Lista de Médicos y Enfermeros
    table
      thead
        tr
          th Nombre
          th Apellido
          th Rol
          th Especialidad
          th Acciones
      tbody
        each profesional in medicos
         
          tr
            td= profesional.ID_Profesional
            td= profesional.Nombre
            td= profesional.Apellido
            td= profesional.Rol
            td= profesional.Especialidad
            td
              a(href=`editar/${profesional.ID_Profesional}`) Editar 
    div
      a(href="insertar")
        button Nuevo Prestador