html 
  head 
    title Listado de pacientes 
  body 
    include ./utilitario/barraDeNav.pug
    
    h1 Lista de pacientes

    table(border="1")
      thead 
        tr 
          th ID 
          th Nombre 
          th Edad 
          th Sexo 
          th acciones
      tbody 
        each patient in listadoDePacientes
          tr 
            td= patient.id
            td= patient.nombre 
            td= patient.edad 
            td= patient.sexo
            td 
              a(href=`/pacientes/edicion/${patient.id}`) Editar 
