block content

  a(href="/prestador/medicos") Volver

  div
    h3 Medico
    p Nombre: #{medico.Nombre}
    p ID: #{medico.ID_Profesional}

  div
    h3 Paciente
    p Nombre: #{interno.Paciente.Nombre}
    p ID: #{interno.Paciente.ID_paciente}

  form(action="/medicos/guardarEvaluacionMedica" method="POST")

    // CSRF token
    input(type="hidden" name="_csrf" value=csrfToken)

    input(type="hidden" name="ID_internacion" value=interno.ID_internacion)
    input(type="hidden" name="ID_Profesional" value=medico.ID_Profesional)

    h4 Evaluacion médica inicial

    label(for="Enfermedad") Síntomas:
    input(type="text" name="Enfermedad" placeholder="Ej: Fiebre")

    label(for="Tipo") Tipo:
    input(type="text" name="Tipo" placeholder="Crónica / Aguda / Alergia...")

    label(for="Diagnostico") Diagnóstico real:
    input(type="text" name="Diagnostico" placeholder="Ej: fractura")

    label(for="Indicaciones") Indicaciones:
    input(type="text" name="Indicaciones" placeholder="Cómo tratar al paciente")

    label(for="Descripcion") Observaciones:
    input(type="text" name="Descripcion" placeholder="Detalles adicionales...")

    button(type="submit") Guardar evaluación
