extends ../utilitario/layout

block content
  include ../utilitario/barraDeNav.pug

  div.overflow-x-auto.mx-8
    table.table-auto.min-w-full.bg-white.rounded-xl.shadow-lg
      thead
        tr.bg-red-600.text-white.uppercase.text-sm.leading-normal
          th.py-3.px-6 ID
          th.py-3.px-6 Nombre
          th.py-3.px-6 Apellido
          th.py-3.px-6 DNI
          th.py-3.px-6.text-center Acción

      tbody.text-gray-600.text-sm.font-light
        each paciente in pacientes
          tr(class="border-b border-gray-200 hover:bg-red-50")
            td.py-3.px-6= paciente.ID_paciente
            td.py-3.px-6= paciente.Nombre
            td.py-3.px-6= paciente.Apellido
            td.py-3.px-6= paciente.DNI
            td.py-3.px-6.text-center
              a(class="bg-red-600 hover:bg-red-700 text-white font-semibold py-1 px-3 rounded-lg shadow-md", href=`informes/${paciente.ID_paciente}`) Realizar informe 
              


