extends ../utilitario/layout

block content
  body.bg-sky-100.min-h-screen
  include ../utilitario/barraDeNav.pug

  h1.text-2xl.font-bold.mb-6 Lista de Internados

  table.w-full.table-auto.border-collapse
    thead.bg-gray-200
      tr
        th.px-4.py-2.text-left ID Internación
        th.px-4.py-2.text-left Habitación
        th.px-4.py-2.text-left Cama
        th.px-4.py-2.text-left Nombre
        th.px-4.py-2.text-left Fecha de Ingreso
        th.px-4.py-2.text-left Motivo
        th.px-4.py-2.text-left Acciones
    tbody
      if internaciones.length === 0
        tr
            td(colspan="6", class="text-center py-4 text-gray-500") No hay pacientes internados actualmente.
      else
        each internacion in internaciones
          tr.border-b
            td.px-4.py-2= internacion.ID_internacion
            td.px-4.py-2= internacion.Cama && internacion.Cama.Hab ? internacion.Cama.Hab.numero : 'Desconocida'
            td.px-4.py-2= internacion.Cama ? internacion.Cama.Numero : 'Desconocida'
            td.px-4.py-2= internacion.Paciente.Nombre
            td.px-4.py-2= new Date(internacion.Fecha_ingreso + 'T12:00:00').toLocaleDateString()
            td.px-4.py-2= internacion.Motivo
            td.px-4.py-2
              form(action=`/pacientes/internaciones/cancelar/${internacion.ID_internacion}`, method="POST")
                button(type="submit" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded")
                  | Cancelar
