extends ../utilitario/layout

block content
 body.bg-sky-100.min-h-screen
  include ../utilitario/barraDeNav.pug

  h1.text-2xl.font-bold.mb-6 Lista de Pacientes

  table.table-auto.w-full.border-collapse.border.border-gray-300
    thead.bg-blue-600.text-white
      tr
        th.border.border-gray-300.px-4.py-2.text-left ID
        th.border.border-gray-300.px-4.py-2.text-left Nombre
        th.border.border-gray-300.px-4.py-2.text-left Apellido
        th.border.border-gray-300.px-4.py-2.text-left DNI
        th.border.border-gray-300.px-4.py-2.text-left Sexo
        th.border.border-gray-300.px-4.py-2.text-left Acciones
    tbody
      each paciente in pacientes
        tr.hover(bg-gray-100)
          td.border.border-gray-300.px-4.py-2= paciente.ID_paciente
          td.border.border-gray-300.px-4.py-2= paciente.Nombre
          td.border.border-gray-300.px-4.py-2= paciente.Apellido
          td.border.border-gray-300.px-4.py-2= paciente.DNI
          td.border.border-gray-300.px-4.py-2= paciente.Sexo
          td.border.border-gray-300.px-4.py-2
            a.text-blue-600.hover(underline.font-semibold, href=`internar/${paciente.ID_paciente}`) Internar
