

block content
  h2 Pacientes internados con plan de cuidados

  if internados.length === 0
    p No hay pacientes internados con planes de cuidado disponibles.
  else
    table
      thead
        tr
          th(style="display:none") ID Internación
          th Nombre
          th Apellido
          th Fecha de ingreso
          th Motivo
          th Acciones
      tbody
        each interno in internados
          tr
            td(style="display:none") #{interno.ID_internacion}
            td #{interno.Paciente.Nombre}
            td #{interno.Paciente.Apellido}
            td #{interno && interno.Fecha_ingreso ? new Date(interno.Fecha_ingreso).toISOString().slice(0,10) : "Sin fecha"}
            td #{interno.Motivo}
            td
              a(href=`/enfermeria/vistaCuidados/${interno.ID_internacion}`) Ver cuidados
